*.o
ray_tracer_challenge/ray_tracer
*.out
.vscode/
/MLX42/
/miniRT/MLX42
*.a
*.ppm
miniRT/miniRT
examples/
Doxyfile
miniRT/doxydocs/

megaphone
PhoneBook
BraiiiiiiinnnzzzZ
Moar_brainz!
HI_THIS_IS_BRAIN
Unnecessary_violence

*.pdf
